:root {
    --main-color: green;
    --bg-color: rgb(29, 24, 86);
    --main-font: "Audiowide", "Sofia", "San Serif";
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    background-color: rgb(29, 28, 51);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

.hero {
    width: 70%;
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: 5px 5px 10px blue inset;
    text-align: center;
    padding: 50px;
}

.hero .l-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.winner {
    font-size: 4rem;
    text-shadow: 2px 2px 5px blue;
}

img {
    border-radius: 20px;
}

h2 {
    color: grey;
    margin-bottom: 10px;
}

.container-button {
    padding: 50px;
}

.container-button > .l-container {
    padding: 2px;
    background: linear-gradient(115deg, violet, indigo, blue, green, yellow, orange, red); 

}

.container-button > .l-container:active {
    background: linear-gradient(230deg, violet, indigo, blue, green, yellow, orange, red); 
}
.btn {
    padding: 20px 50px;
    font-size: 1.5rem;
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: rgb(232, 225, 225);
    
}


.btn:active {
    color: var(--main-color);
}