*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 28, 51);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Audiowide", "Sofia", sans-serif;
}

.hero {
    max-width: 60%;
    min-height: 80vh;
    background-color: rgb(29, 24, 86);
    border-radius: 20px;
    box-shadow: 5px 5px 10px blue inset;
    padding: 50px;
    text-align: center;
}

.l-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.winner {
    width: 100%;
    font-size: 4rem;
    color: green;
    text-shadow: 2px 2px 5px blue;
}

img {
    border-radius: 20px;
}

h2 {
    color: grey;
    margin-bottom: 10px;
}